.amazon_scroller{
    padding: 0px;
    margin: 0px;
	width:660px !important;
	height:163px;
}
.amazon_scroller .amazon_scroller_nav{
    position: absolute;
}
.amazon_scroller .amazon_scroller_nav li{
    cursor: pointer;
    position: absolute;
	top:105px;
}
.amazon_scroller .amazon_scroller_mask{
    position: absolute;
    margin-left: 0px;
    margin-right: 0px;
    overflow: hidden;
	width:660px !important;
	margin-top:10px;
}
.amazon_scroller ul{
    padding: 0px;
    margin: 0px;
    float: left;
}
.amazon_scroller ul li{
    padding: 0px;
    margin: 0px;
    margin-left: 0px;
    margin-right:4px;
    list-style: none;
    float: left;
    text-align: center;
    display:inline;
}
.amazon_scroller ul li a{
    text-decoration: none;
}
.amazon_scroller ul li a amazon_scroller_title{
	overflow:hidden;
}
.amazon_scroller ul li a:hover{
    text-decoration: underline;
}
.amazon_scroller ul li a img{
    border: none;
}